<nav aria-label="breadcrumb" class="breadcrumb">
  <ul class="breadcrumb__list">
    <li>
      <a href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
    </li>
    {% if product.metafields.global.breadcrumb %}
      <li>
        <a href="{{ collections[product.metafields.global.breadcrumb].url }}">
          {{ collections[product.metafields.global.breadcrumb].title }}
        </a>
      </li>
    {% endif %}
    {% if template == 'product' %}
      <li>{{ product.title }}</li>
    {% elsif template == 'collection' %}
      <li>{{ collection.title }}</li>
    {% else %}
      <li>{{ page_title }}</li>
    {% endif %}
  </ul>
</nav>
