<!doctype html>
  {%- liquid
    assign iso_code  = request.locale.iso_code
    assign config_rtl  = settings.right_to_left | default: 'enable-with-list'
    assign isRTL = false
    assign dir = 'ltr'
    if config_rtl == 'enable-with-list'
      assign iso_code_ck = iso_code | split: '-' | first | append: ';' | prepend: ';'
      assign lis_rtl = ';ae;ar;arc;bqi;ckb;dv;fa;glk;ha;he;kwh;ks;ku;mzn;nqo;pnb;ps;sd;ug;ur;yi;'
      if lis_rtl contains iso_code_ck
        assign isRTL = true
        assign dir = 'rtl'
      endif
    elsif config_rtl == 'enable'
      assign isRTL = true
      assign dir = 'rtl'
    endif
  -%}
<html class="no-js hdt-pr-img__effect-{{ settings.effect_secondary_image }} hdt-badge__shape-{{ settings.badge_shape }} dir--{{ dir }}{% if request.design_mode %} shopify-design-mode{% endif %}{% if settings.minimal_products %} hdt-minimal-products{% endif %}{% if settings.hidden_badges %} hdt-hidden-pr-badges{% endif %}{% if settings.hidden_quickview %} hdt-hidden-products-quickview{% endif %}{% if settings.hidden_wishlist %} hdt-hidden-products-wishlist{% endif %}{% if settings.hidden_compare %} hdt-hidden-products-compare{% endif %}{% if settings.uppercase_title %} hdt-pr-uppercase_title{% endif %}" lang="{{ request.locale.iso_code }}" dir="{{ dir }}">
  <head>
    {%- unless template == 'product.only_config' and request.design_mode == false -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if product.metafields.global.canonical != blank %}
    <link rel="canonical" href="{{ product.metafields.global.canonical }}">
    {%- else -%}
    <link rel="canonical" href="{{ canonical_url }}">
    {%- endif %}
      
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}">
    {%- endif -%}
    {%- if settings.library_font == "shopify" -%}
      {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; {{ 'general.meta.tag' | t }} "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t }} {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
    
    {%- if current_tags %}
    <meta name="robots" content="noindex, follow">
    {% endif %}
    {% if template contains "collection" and collection.handle == "vendors" %}
    <meta name="robots" content="noindex, follow">
    {% endif %}
    {% if template contains "collection" and collection.handle == "types" %}
    <meta name="robots" content="noindex, follow">
    {% endif %}
    {% if (template contains "collection" and collection.handle == "all") or
    (template contains "collection" and collection.handle == "new") or
    (canonical_url == "https://vitruvi.com/collections") %}
    <meta name="robots" content="noindex, follow">
    {% endif %}

    {%- liquid
      render 'social-meta-tags'
      render 'js-head'
      render 'css-variables', isRTL: isRTL
      echo 'theme.css' | asset_url | stylesheet_tag
      if request.page_type == "policy"
      echo 'hdt-policy.css' | asset_url | stylesheet_tag
      endif
    -%}
    {% capture content_for_header_fixed %}
    {{ content_for_header }}
    {% endcapture %}
    {% if product.metafields.seo.hidden == 1 or collection.metafields.seo.hidden == 1 %}
    {{ content_for_header_fixed | remove: '<meta name="robots"
    content="noindex,nofollow">' }}
    {% else %}
    {{ content_for_header }}
    {% endif %}
    {%- endunless -%}

  </head>

  <body class="hdt-page-type-{{ request.page_type }}{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %} template-{{ template.name }}">
    {%- unless template == 'product.only_config' and request.design_mode == false -%}{%- sections 'header-group' -%}{%- endunless -%}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {%- if request.page_type == "policy" -%}
        {%- section 'main-heading' -%}
      {%- endif -%}
      {{ content_for_layout }}
    </main>

    {%- unless template == 'product.only_config' and request.design_mode == false -%}
    {%- sections 'footer-group' -%}
    {%- if request.page_type == "index" or request.page_type == "policy" -%}
    <h1 class="hdt-hidden">{{ page_title | default: shop.name }}</h1>
    {%- endif -%}
    {%- render 's-dom-temp' -%}
    <a class="skip-to-content-link button sr-only" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- liquid
      sections 'system-group'
      if settings.enable_compare_popup
        render 'compare-offcanvas'
      endif
      # theme-check-disable NestedSnippet
      render 'system-bottom'
      # theme-check-enable NestedSnippet
      render 'structured-data'
    -%}
    {%- endunless -%}
  </body>
</html>
