{%- style -%}
  .hdt-breadcrumb__list{display:inline-flex;align-items:center;flex-wrap:wrap;gap:.6rem}
  .hdt-breadcrumb__list a{transition:color .3s ease}
  .hdt-breadcrumb__list svg{height:var(--spacing-0-8);width:auto}
  .hdt-breadcrumb__next,.hdt-breadcrumb__prev{width:var(--spacing-1-4);height:var(--spacing-1-4)}
  .hdt-breadcrumb__back{margin:0 var(--spacing-1-2)}
  .hdt-breadcrumb__wrap{display:grid;gap:3rem;grid-template-columns:1fr auto}
  @media (min-width:768px){.hdt-breadcrumb__list svg{margin:0 var(--spacing-1)}}
  .dir--rtl .hdt-breadcrumb__list svg,.dir--rtl .hdt-breadcrumb__prev-next svg{transform:rotate(180deg)}
  @media (-moz-touch-enabled:0),(hover:hover) and (min-width:1150px){
    .hdt-breadcrumb__prev-next a:hover,.hdt-breadcrumb__list a:hover{color:rgb(var(--color-accent))}
  }
  #shopify-section-{{section.id}}{--section-pt:{{section.settings.padding_top}}px;--section-pb:{{section.settings.padding_bottom}}px;--section-prate:{{section.settings.padding_rate}}}
{%- endstyle -%}

<div class="hdt-breadcrumb hdt-s-gradient hdt-section-spacing" color-scheme="{{ section.settings.color_scheme }}">
  <div class="hdt-container">
    <div class="hdt-breadcrumb__wrap hdt-s-text">
      {% include 'breadcrumb' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.brc-nav.name",
  "class": "hdt-section hdt-section-brc-nav-product",
  "settings": [
    {
      "type":"checkbox",
      "id":"back_next_pr",
      "label":"t:sections.brc-nav.settings.back_next_pr.label",
      "info": "t:sections.brc-nav.settings.back_next_pr.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ] 
}
{% endschema %}
