{% layout none %}
<!doctype html>
  {%- liquid
    assign iso_code  = request.locale.iso_code
    assign config_rtl  = settings.right_to_left | default: 'enable-with-list'
    assign isRTL = false
    assign dir = 'ltr'
    if config_rtl == 'enable-with-list'
      assign iso_code_ck = iso_code | split: '-' | first | append: ';' | prepend: ';'
      assign lis_rtl = ';ae;ar;arc;bqi;ckb;dv;fa;glk;ha;he;kwh;ks;ku;mzn;nqo;pnb;ps;sd;ug;ur;yi;'
      if lis_rtl contains iso_code_ck
        assign isRTL = true
        assign dir = 'rtl'
      endif
    elsif config_rtl == 'enable'
      assign isRTL = true
      assign dir = 'rtl'
    endif
  -%}
<html lang="{{ request.locale.iso_code }}" class="hdt-badge__shape-{{ settings.badge_shape }} dir--{{ dir }}" dir--{{ dir }} >
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}">
    {%- endif -%}
    {%- if settings.library_font == "shopify" -%}
      {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
    {%- endif -%}
    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {%- liquid
      render 'social-meta-tags'
      render 'js-head'
      render 'css-variables', isRTL: isRTL
      echo 'theme.css' | asset_url | stylesheet_tag
    -%}
    {{ content_for_header }}
  </head>

  <body class="hdt-page-type-{{ request.page_type }}{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %} template-{{ template.name }}">
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {% section 'main-gift-cart' %}
    </main>
    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
  </body>
</html>
<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.hdt-gift-card__qr-code'), {
      text: document.querySelector('.hdt-gift-card__qr-code').dataset.identifier,
      width: 72,
      height: 72,
      imageAltText: string.qrImageAlt
    });
  });
  copyGift();
  if (Shopify.designMode) {
    document.addEventListener('shopify:section:select', (event) => {
      copyGift();
    })
  }
  function copyGift(){
    var template = document.getElementsByTagName("template")[0],
    clonedTemplate = template.content.cloneNode(true),
    isMessageDisplayed = false;
    document.querySelector('.hdt-gift-card__copy-button').addEventListener('click', () => {
      var textarea = document.createElement("textarea");
      textarea.value = document.getElementById('hdt-gift-card-code').innerText;
      document.body.appendChild(textarea);

      textarea.select();
      document.execCommand("copy");

      document.body.removeChild(textarea);
      if (!isMessageDisplayed) {
        document.querySelector('.hdt-gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  }
</script>
